.Tilt {
    background: linear-gradient(90deg,
            #c27e26 0%,
            rgb(255, 166, 0) 15%,
            rgb(208, 255, 0) 100%);
}

.logo {
    /* border-radius: 8px; */
    width: 40%;
    height: 40;
}